name: Run Unit Tests via Pytest

on:
  push:
  pull_request:

concurrency:
  # For pull requests: group by PR number
  # For branch pushes: group by branch name
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # run fast tests when triggered by a push 
      - name: Test with pytest (no slow tests on push)
        if: github.event_name == 'push'
        working-directory: ${{ github.workspace }}
        run: |
          coverage run -m pytest -v -s -m "not slow" --cov=jcm --cov-fail-under=90

      # run slow tests when triggered by a push to an open PR
      - name: Test with pytest (include slow tests on PR)
        if: github.event_name == 'pull_request'
        working-directory: ${{ github.workspace }}
        run: |
          coverage run -m pytest -v -s --cov=jcm --cov-fail-under=90

      - name: Generate Coverage Report
        run: |
          coverage report -m
